<!doctype html>
<head>
    <title>MedTech Hackathon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <!-- <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"/> -->
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h2 class="display-6 fw-bold">Please see image and information for the letter: {{letter}}</h2>
            <!-- <p class="fs-5">
                Below is an image demonstrating how to sign the letter {{letter}}
            </p> -->
            <img class="d-block mx-auto mb-4" src="static/images/{{letter}}_test.jpg" alt="ASL letter" width="192" height="192"/>
            <h3> Expected potentiometer values:</h3>
            <p> Potentiometer 1: {{exp1}}</p>
            <p> Potentiometer 2: {{exp2}}</p>
            <br>

            <h3> Input the measured potentiometer values:</h3>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
              <p> Potentiometer 1:</p> 
              <input type="text" class="form-control" id="measurePT1" name="measurePT1" style="max-width: 256px;">
            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
              <p> Potentiometer 2:</p> 
              <input type="text" class="form-control" id="measurePT2" name="measurePT1" style="max-width: 256px;">
            </div>
            
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg px-4 gap-3">Calculate percent closeness</a> <!-- to be implemented later-->

            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg px-4 gap-3">Back home</a>
          </div>
     </main>      
   </body>
</html>